.conCountactUs {
    width: 100%;
    background-color: rgba(58, 100, 178, 0.773);
    border-radius: 5px;
    overflow: hidden;
}

.divInfoConectUs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    user-select: none;
    
}

.ifromTagMapContactus {
    width: 100%;
    height: 500px;
    border: 1px solid rgba(255, 255, 255, 0.207);
    border-radius: 5px;
}

.divInputKeeperContactus {
    width: 100%;
    height: 36px;
    position: relative;
    margin-top: 8px;
}

/* @keyframes ani2 {
    0% {
        color: rgb(198, 102, 6);
        letter-spacing: 0px;
        
    }

    100% {
        color: white;
        letter-spacing: 1px;
    }
} */
.divInfoConectUs h2 {
    font-family: f2;
    font-size: 35px;
    width: 100%;
    word-wrap: break-word;
    color: rgb(255, 255, 255);
    /* animation-name: ani2;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite; */
    
}

.divInfoConectUs p::first-letter {
    font-size: 23px;
    font-weight: 600;
}


.divInfoConectUs p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgba(255, 255, 255, 0.87);
    padding-left: 5px;
    max-width: 500px;
}

.btnRegestrationContactus {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid orange;
    background-color: orange;
    font-family: f3;
    margin-top: 25px;
    color: white;
    font-size: 20px;
    max-width: 500px;

}

.iconInputsContactus {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 3;
    font-size: 19px;
    color: rgba(255, 255, 255, 0.764);
}

.inputsInConectUs {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.263);
    background-color: rgba(240, 248, 255, 0);
    padding-left: 35px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 500px;
    color: white;

}

.inputsInConectUs::placeholder {
    color: rgba(255, 255, 255, 0.521);
}

.divMapConectUs {
    width: 100%;
    height: 500px;
}